@charset "utf-8";
/* CSS Document */


/* INDICE 

1. BASE
	1.1. html e body
	1.2. Titulos
	1.3. links e Line
	1.4. Clear
	1.5. Fade

2. Layout
	2.1. Container
	2.2. Topo
	2.3. Rodapé
	2.4. Conteúdo
*/


/* 1. BASE //////////////////////////////////////////////
///////////////////////////////////////////////////////*/

	/* 1.1. Html e Body //////////////////////// */
	html,body{
		width: 100%;

		min-width: 980px;
		height: 100%;
		min-height: 400px;
	}


	html{
		overflow:hidden;
	}

	body {
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;

		-webkit-animation: mudaCor 20s linear infinite; /* Safari 4+ */
		-moz-animation:    mudaCor 20s linear infinite; /* Fx 5+ */
		-o-animation:      mudaCor 20s linear infinite; /* Opera 12+ */
		animation:         mudaCor 20s linear infinite; /* IE 10+ */
		
	}


	@-webkit-keyframes mudaCor {
		0%   	{ background-color: #0a0a0a; 	}
  		40% 	{ background-color: #6633CC; 	}
  		80% 	{ background-color: #3366FF; 	}
  		100% 	{ background-color: #0a0a0a; 	}
	}

	@-moz-keyframes mudaCor {
		0%   	{ background-color: #0a0a0a; 	}
  		40% 	{ background-color: #6633CC; 	}
  		80% 	{ background-color: #3366FF; 	}
  		100% 	{ background-color: #0a0a0a; 	}
	}

	@-o-keyframes mudaCor {
		0%   	{ background-color: #0a0a0a; 	}
  		40% 	{ background-color: #6633CC; 	}
  		80% 	{ background-color: #3366FF; 	}
  		100% 	{ background-color: #0a0a0a; 	}
	}

	@keyframes mudaCor {
		0%   	{ background-color: #0a0a0a; 	}
  		40% 	{ background-color: #6633CC; 	}
  		80% 	{ background-color: #3366FF; 	}
  		100% 	{ background-color: #0a0a0a; 	}
	}

	/* 1.2. Titulos //////////////////////// */
	h1{
	}

	h2{
	}

	h3{
	}

	h4{
	}

	h5{
	}

	h6{
	}

	/* 1.3. Link e Line //////////////////////// */

	a,
	a:link,
	a:visited {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.line{
		float:left;
		width:100%;
		height:1px;
		background:#666;
		clear:both;
		display:block;
		margin:15px 0px;
	}

	.pabsolute {position: absolute; display: block;}



/* 2. LAYOUT //////////////////////////////////////////////////
/////////////////////////////////////////////////////////////*/

	/* 2.1. Container ///////////////////////*/
	#container {
		position: relative;
		width: 100%;
		min-height: 100%;

		/*background-color: #f00;*/
	}


	#container .centraliza {
		position: relative;
		width: 960px;
		margin: 0px auto;
	}

	/* 2.2. TOPO ///////////////////////*/
	#container header{
		position: relative;
		top: 0;
		left: 0;

		width: 100%;
		height: 90px;
	}

	/* 2.3. RODAPÉ ///////////////////////*/
	#container footer{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 90px;
	}
	

	/* 2.4. CONTEÚDO ////////////////////////////////////////// 
	/////////////////////////////////////////////////////////*/


	/* 2.4.1. HOME ///////////////////////////////*/
	


	/*#container #linhas1, #container #linhas2{ background-color: #0f0;}*/


	#container #linhas1 { width: 352px; height: 246px; top: 0; right: 0; background: url("../images/linhas1.png") no-repeat center;}
	#container #linhas2 { width: 396px; height: 205px; bottom:0; left:0; background: url("../images/linhas2.png") no-repeat center;}

	#logo{
		width: 233px;
		height: 306px;

		background: url("../images/thiago_corbalan_logo.png") no-repeat center;

		/*background-color: #0f0;*/

		left: 50%;
		top: 50%;

		margin-top: -153px;
		margin-left: -116.5px;


	}

	