RewriteEngine On

#Options +FollowSymLinks +MultiViews -Indexes
AddDefaultCharset UTF-8
#RewriteBase /

Options +FollowSymLinks
RewriteCond %{HTTP_HOST} ^thiagocorbalan.com.br [NC]
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)$ http://www.thiagocorbalan.com.br/$1 [L,R=301]

#RewriteRule ^index.html?$								index.php [NC,L]
#RewriteRule ^colecao-kids/masculino/([0-9-]+)/?$		produtos_lista.php?ms=6&pg=$1 [NC,L]
#RewriteRule ^([a-z0-9-]+)/?$							index.php?pg=$1 [NC,L]

#####################################################################################################
####                     ############################################################################
####  INSTITUCIONAL      ############################################################################	
####                     ############################################################################
#####################################################################################################
