@charset "utf-8";
/* CSS Document */


/* INDICE 

*/
/*///////////////////////////////////////////////////////////////
/////////////////////////////// BASE ////////////////////////////
///////////////////////////////////////////////////////////////*/

html{
	overflow-y:scroll;
}

body {
	background-image: url("../imagens/bg_main.gif");
	background-position: top;
	background-repeat: repeat-x;

	background-color: #ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;

	line-height: normal;
}



/*//////////////////////// Titulos //////////////////////// */
h1{
	font-weight: bold;
	font-size: 14px;
}

h2{

}

h3{
}

h4{
}

h5{
}

h6{
}


/*//////////////////////// Links //////////////////////// */

a,
a:link,
a:visited {
	text-decoration: underline;
	font-weight: bold;
	color: #b92025;
}

a:hover {
	text-decoration: none;
}

.clear{
	clear:both;
	}

.line{
	float:left;
	width:100%;
	height:1px;
	background:#b1ad9c;
	clear:both;
	display:block;
	margin:15px 0px;
}

/*//////////////////////// Clear //////////////////////// */
.clear_5, .clear_10, .clear_15, .clear_20, .clear_25, .clear_30, .clear_35,
.clear_40, .clear_45, .clear_50, .clear_55, .clear_60, .clear_65, .clear_70,
.clear_75, .clear_80, .clear_85, .clear_90, .clear_95, .clear_100{
	display:block;
	width:100%;
	clear:both;
}

.clear_5{height:5px;}
.clear_10{height:10px;}

.clear_15{height:15px;}
.clear_20{height:20px;}

.clear_25{height:25px;}
.clear_30{height:30px;}

.clear_35{height:35px;}
.clear_40{height:40px;}

.clear_45{height:45px;}
.clear_50{height:50px;}

.clear_55{height:55px;}
.clear_60{height:60px;}

.clear_65{height:65px;}
.clear_70{height:70px;}

.clear_75{height:75px;}
.clear_80{height:80px;}

.clear_85{height:85px;}
.clear_90{height:90px;}

.clear_95{height:95px;}
.clear_100{height:100px;}


/*//////////////////////// CONTAINER //////////////////////// */

.container{
	width: 700px;
	margin: 0 auto;
	display: block;

	/*background: #f00;*/
}

.attention{
	float: left;
	width: 608px;
	padding: 20px 20px 20px 70px;
	background-image: url("../imagens/icone_atencao.gif");
	background-position: 20px;
	background-repeat: no-repeat;
	background-color: #ffe9a6;

	border-width: 1px;
	border-style: solid;
	border-color: #edc856;

	line-height: 20px;
	font-size: 14px;

	color: #505050;
}

.attention strong{ color: #d00808;}

.container .left,
.container .right{ float: left;}

.container .left{ width: 400px; margin-right: 20px;}

.container .right{
	padding: 10px;
	width: 258px;
	/*height: 610px;*/
	border-width: 1px;
	border-style: solid;
	border-color: #ffb6b6;

	background-color: #ffebeb;
}

/* LISTAS */
.container .left ul,
.container .left ul li,
.container .right ul,
.container .right ul li{ float: left;}


.container .left ul{ width: 400px;}
.container .right ul,
.container .right ul li{ width: 258px;}



.container .left ul li,
.container .right ul li{ margin-bottom: 20px;}

.container .right ul li{ margin-bottom: 30px;}





/* ÍCONES */
span.icon{
	float: left;
	display: block;
	margin: 10px 15px 10px 5px;
	/*margin-right: 10px;*/


	width: 32px;
	height: 32px;

	background-image: url("../imagens/icones_vantagens.gif");
	background-repeat: no-repeat;
	background-position: 0 0;
}

span.icon.seguranca{ background-position: 0 0;}
span.icon.velocidade{ background-position: -32px 0;}
span.icon.compatibilidade{ background-position: -64px 0;}
span.icon.conforto{ background-position: -96px 0;}

span.icon.navegador{
	margin: 0px 20px 30px 5px;
	background-image: url("../imagens/icones_navegadores.gif");
	width: 40px;
	height: 40px;
}


span.icon.navegador.chrome 		{background-position: 0 0;		}
span.icon.navegador.firefox 	{background-position: -40px 0;	}
span.icon.navegador.safari 		{background-position: -80px 0;	}
span.icon.navegador.opera 		{background-position: -120px 0;	}
span.icon.navegador.ie 			{background-position: -160px 0;	}